<!-- ko with: vm -->
<fieldset class="morse-settings-fieldset morse-settings-subfieldset">
    <legend class="morse-settings-legend">Flagged cards</legend>
    <p class="form-text mb-2" role="note">
        Click cards you missed in the word list to add them here. Load As Text copies this list into the practice
        text area above.
        <span class="badge bg-success ms-1" data-bind="text: flaggedWords.flaggedWordsCount"></span>
    </p>
    <div class="input-group flagged-cards-input-group">
        <button type="button" id="btnSetFlagged" class="input-group-text" data-bind="click: setFlagged"><img height="20" width="20"
                data-bind="attr:{src: morseLoadImages().getSrc('uploadImage')}" alt="">&nbsp;Load
            As
            Text</button>
        <button type="button" id="btnClearFlagged" class="input-group-text" data-bind="click: clearFlagged"><img height="20" width="20"
                data-bind="attr:{src: morseLoadImages().getSrc('trashImage')}" alt="">&nbsp;Clear</button>
        <textarea data-bind="textInput: flaggedWords.flaggedWords" class="form-control"
            aria-label="Flagged Words"></textarea>
    </div>
</fieldset>
<!-- /ko -->
