<!-- ko with: vm -->
<h2 class="accordion-header" id="headingTwo">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
        aria-expanded="false" aria-controls="collapseTwo" id="btnFlaggedWordsAccordianButton">
        <img height=20 width=20 data-bind="attr:{src: morseLoadImages().getSrc('flagImage') }" /><span>&nbsp;</span>
        Flagged cards (click cards you missed in the word list to toggle adding them
        here)<span>&nbsp;</span><span class="badge bg-success" data-bind="text: flaggedWords.flaggedWordsCount"></span>
    </button>
</h2>
<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
    <div class="accordion-body">
        <div class="input-group">
            <span role="button" id="btnSetFlagged" class="input-group-text" data-bind="click:setFlagged"><img height="20" width="20"
                    data-bind="attr:{src: morseLoadImages().getSrc('uploadImage')}" alt="">&nbsp;Load
                As
                Text</span>
            <span role="button" id="btnSetFlagged" class="input-group-text" data-bind="click:clearFlagged"><img height="20" width="20"
                    data-bind="attr:{src: morseLoadImages().getSrc('trashImage')}" alt="">&nbsp;Clear</span>
            <textarea data-bind="textInput: flaggedWords.flaggedWords" class="form-control"
                aria-label="Flagged Words"></textarea>

        </div>
    </div>
</div>
<!-- /ko -->